<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mainPlayer_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1750},{134,168}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,25},{134,168}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>mainPlayer_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1876},{134,168}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,26},{134,168}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>mainPlayer_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1602},{136,170}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,25},{136,170}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>mainPlayer_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,178},{148,174}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,24},{148,174}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>mainPlayer_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1000},{160,176}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,23},{160,176}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>mainPlayer_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{166,178}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,22},{166,178}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>mainPlayer_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,338},{166,178}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,22},{166,178}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>mainPlayer_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1162},{158,176}}</string>
                <key>offset</key>
                <string>{-10,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,23},{158,176}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>mainPlayer_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,702},{140,172}}</string>
                <key>offset</key>
                <string>{-11,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,24},{140,172}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>mainPlayer_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1876},{134,168}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,25},{134,168}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>mainPlayer_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1462},{138,172}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,24},{138,172}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>mainPlayer_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1318},{152,174}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,24},{152,174}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>mainPlayer_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,836},{162,176}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,23},{162,176}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>mainPlayer_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{166,178}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,22},{166,178}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>mainPlayer_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,170},{166,178}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,22},{166,178}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>mainPlayer_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{162,176}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,23},{162,176}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>mainPlayer_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,876},{152,176}}</string>
                <key>offset</key>
                <string>{-9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,22},{152,176}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>mainPlayer_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,528},{140,172}}</string>
                <key>offset</key>
                <string>{-10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,23},{140,172}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>mainPlayer_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1886},{134,166}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,26},{134,166}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>mainPlayer_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1472},{138,170}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,25},{138,170}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>mainPlayer_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1230},{152,174}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,23},{152,174}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>mainPlayer_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1000},{160,176}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,23},{160,176}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>mainPlayer_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{166,178}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,22},{166,178}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>mainPlayer_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{166,178}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,22},{166,178}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>mainPlayer_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,672},{162,176}}</string>
                <key>offset</key>
                <string>{-8,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,23},{162,176}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>mainPlayer_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1054},{152,174}}</string>
                <key>offset</key>
                <string>{-9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,23},{152,174}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>mainPlayer_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,354},{140,172}}</string>
                <key>offset</key>
                <string>{-11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,23},{140,172}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>mainPlayer_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1740},{134,168}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,25},{134,168}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>mainPlayer_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1322},{138,172}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,23},{138,172}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>mainPlayer_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1162},{154,176}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,22},{154,176}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>mainPlayer_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,506},{164,178}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,22},{164,178}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>mainPlayer_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,178}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,22},{166,178}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>mainPlayer_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{160,176}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,23},{160,176}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>mainPlayer_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{148,174}}</string>
                <key>offset</key>
                <string>{-11,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,23},{148,174}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>mainPlayer_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1406},{138,170}}</string>
                <key>offset</key>
                <string>{-11,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,25},{138,170}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>mainPlayer_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1578},{134,170}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,24},{134,170}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>mainPlayer_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1612},{134,168}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,25},{134,168}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bigMan.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79b8f1865c79afb02ff1b14a60c72833$</string>
            <key>textureFileName</key>
            <string>bigMan.png</string>
        </dict>
    </dict>
</plist>
